#blog-head {
    width: 100%;
    min-height: 240px;
    padding: 40px 40px;
    overflow: hidden;
    position: relative;
    z-index: -1;

    .article-title {
        text-align: center;
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
        z-index: 1;
    }

    .title {
        font-size: 36px;
        color: #fff;
        text-align: center;
        font-weight: bold;
    }

    .to-sort {
        font-size: 16px;
        color: #fff;
        text-align: center;
        max-width: 180px;
        padding: 10px 0;
        margin: 0 auto;
        margin-top: 5px;

    }

    .to-sort::after,
    .to-sort:before {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background: url('images/sort-line.svg') left center no-repeat;
    }

    .to-sort::after {
        float: left;
        margin-top: 10px;
    }

    .to-sort::before {
        float: right;
        margin-top: 10px;
    }
}

//轉型Vlog表頭
.vlog-title {
    background-image:
        url("../images/circle.svg"),
        url("../images/circle.svg"),
        url("../images/vlog-head.png");
    background-repeat: no-repeat,
        no-repeat,
        no-repeat;
    background-position: top -150px left -10%,
        bottom -150px right -10%,
        top center;
    background-size: 250px, 250px, cover;
}

//轉型新知
.news-title {
    background-image:
        url("../images/red-Circle.svg"),
        url("../images/red-Circle.svg"),
        url("../images/news-head.png");
    background-repeat: no-repeat,
        no-repeat,
        no-repeat;
    background-position: top -150px left -10%,
        bottom -150px right -10%,
        top center;
    background-size: 250px, 250px, cover;
}

//轉型專欄
.interview-title {
    background-image:
           url("../images/circle.svg"),
        url("../images/circle.svg"),
        url("../images/Interview-head.png");
    background-repeat: no-repeat,
        no-repeat,
        no-repeat;
    background-position: top -150px left -10%,
        bottom -150px right -10%,
        top center;
    background-size: 250px, 250px, cover;
}

//文章訊息日期和作者
.blog-info {
    margin-top: 30px;
    margin-bottom: 40px;

    .blog-time {
        font-size: 16px;
        color: #565656;
        text-align: left;
    }

    .blog-writer {
        text-align: right;
        float: right;
    }

    a.share-link {
        color: #565656;
    }

    .share-link::before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background: url('images/icon-share.svg') no-repeat left top;
        float: left;
        margin-right: 5px;
    }

}


//文章內文開始
#blog-content {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    min-height: 400px;

    .row {
        margin: 30px 0px;
        width:100%;
    }

    //通用表
    h2 {
        font-size: 32px;
        line-height: 1.5;
    }

    h3 {
        font-size: 24px;
        line-height: 1.5;
    }

    //段落標題  
    h4 {
        display: block;
        width:100%;
        margin: 40px 0 20px 0;
        font-size: 24px;
        line-height: 1.5;
        border-left: 5px #0ECEA2 solid;
        padding-left:10px;
    }


    h5 {
        width: 100%;
        font-size: 20px;
        margin: 20px 0 20px 0;
        line-height: 1.5;
        display: block;
        color:#1a8279;

    }

    //文字連結
    .article-a {
        color: #FF6B50;
        margin: 0 10px 0 10px;
        padding-bottom: 3px;
        border-bottom: 1px dotted #FF6B50;
    }

    a:hover {
        font-weight: bold;
        text-decoration: none;
    }

    //文字置中
    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

    //物件置中
    .mg-center {
        margin: 0 auto;
    }

    .mb-80 {
        margin-bottom: 80px;
    }

    //內文
    p {
        font-size: 18px;
        text-align: justify;
        line-height: 1.6;
    }

    img {
        width: 100%;
    }

    //內文重點畫線
    .good-point {
        font-weight: bold;
        box-shadow: inset 0 -0.55em 0 #b4efe3;
    }

    .article-video {
        display: block;
        width: 900px;
        margin: 0 auto;

        video {
            width: 100%;
            border-radius: 20px;

        }
    }
    .blog-word{
        padding:0;
        margin:0;
        position: relative;
    }
    .blog-img{
        padding:0 30px;
    }
    .word-bg{
        display: block;
        width:160px;
        height: 180px;
        background: url("../images/article/2021/interview/0701-comic-bg.png") no-repeat;
        background-size: auto 100%;
    position:absolute;
    bottom:-130px;
    right:0;

    }
    //三欄式
    .three {
        margin: 0 auto;
        text-align: center;
        margin: 40px 0;

        .icon {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            border-radius: 6px;
        }

        .three-p {
            text-align: center;
        }

        .size-M {
            width: 300px;
            height: 250px;
            margin: 0 auto;
            margin-bottom: 20px;
            overflow: hidden;
            position: relative;
            border-radius: 6px;
        }

        .size-S {
            width: 150px;
            height: 150px;
            margin: 0 auto;
            margin-bottom: 20px;
            overflow: hidden;
            position: relative;
            border-radius: 6px;
        }

        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 6px;

        }
    }

    //字首放大
    .part1::first-letter {
        font-size: 250%;
        font-weight: bold;
        line-height: 1.2;

    }

    //引言樣式
    .quote {
        display: flex;
        width: 100%;
        min-height: 100px;
        background: #f3fefb;
        padding: 30px 30px;
        margin: 20px 0;
        text-align: center;
        font-weight: bold;
        line-height: 1.6;

        .quote-dot img {
            width: 40px;
        }

        .quote-word {
            font-size: 20px;
        }

        .quote-title {
            font-size: 32px;
            text-align: center;
            margin: 0 auto;
        }

        .quote-s {
            width: 150px;
            display: block;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        .quote-m {
            width: 200px;
            display: block;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }

    img {
        border-radius: 6px;
    }

    //img照片
    .blog-photo {
        justify-content: center;
        display: flex;
    }

    .size-XL {
        width: 1000px;
        margin:0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .size-L {
        width: 700px;
        margin:0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .size-M {
        width: 600px;
        margin-top: 40px;
        margin-bottom: 40px;

        margin:0 auto;
    }

    .size-S {
        width: 400px;
        margin:0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .size-XS {
        width: 200px;
        margin:0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }


    .related-link {
        display: block;
        margin: 100px 0 60px 0;
        font-size: 16px;
        color: #787878;
    }

}

.photo-center {
    text-align: center;
}

.photo-right {
    text-align: right;
}

.photo-left {
    text-align: left;
}

.list-point {
    display: block;
    width: 100%;

    li{
        margin-bottom: 10px;
        list-style-type: disc;
    }
    li.list-number{
        list-style-type:decimal-leading-zero;
    }
}

@media screen and (max-width:500px) {
    #blog-head {
        min-height: 200px;
    }

    #blog-head .title {
        font-size: 32px;

    }

    .blog-photo {
        padding-right: 15px;
        padding-left: 15px;
    }

    #blog-content .blog-info {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #blog-content .blog-photo .size-XL {
        width: 100%;
        height: 100%;
    }

    #blog-content .blog-photo .size-L {
        width: 100%;
        height: 100%;
    }

    #blog-content .blog-photo .size-M {
        width: 100%;
        height: 100%;
    }


    .blog-img img {
        width: 100%;
        height: 100%;
    }

    #blog-content .quote {
        padding: 15px;
    }

    #blog-content .quote .quote-word {
        font-size: 16px;
    }

    #blog-content .quote .quote-title {
        font-size: 20px;
    }

    .col-sm-1 {
        width: 10px;
    }

    #blog-content .quote .quote-dot img {
        width: 20px;
    }

    #blog-content .row {
        margin: 20px 0px;
        width:100%;
    }

    nav#navbar-example3 {
        display: none;
    }


}

@media screen and (max-width:900px) {

    #blog-content .word-bg{
        display: none;
    }

}